<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Gerenciar Serviços</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="md-form">

          <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
              <a class="text-success" (click)="add()">
              </a>
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">

              <tr>
                <th class="text-center">Serviço</th>
                <th class="text-center">Valor</th>
              </tr>

              <tr *ngFor="let servico of servicosList">
                <td>{{servico.descricao}}</td>
                <td>R$ {{servico.valor}}</td>
                <td>
                  <span class="table-remove">
                    <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                      (click)="remove(id)">Remover</button>
                    <button type="button" mdbBtn color="blue" rounded="true" size="sm" class="my-0"
                      (click)="remove(id)">Editar</button>
                  </span>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>