<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Gerenciar Serviços</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="md-form">
        <input
          type="text"
          [(ngModel)]="searchText"
          class="form-control"
          id="search"
          mdbInput
        />
        <label for="search">Buscar ...</label>
      </div>
    </div>
  </div>

  <div id="table" class="table-editable">
    <span class="table-add float-right mb-3 mr-2">
      <a class="text-success" (click)="add()">
      </a>
    </span>
    <table class="table table-bordered table-responsive-md table-striped text-center">

      <thead>
        <td>Serviço</td>
        <td>valor</td>
      </thead>
      <tbody>
        <tr *ngFor= "let servico of servicosList">
          <td>{{servico.descricao}}</td>
          <td>{{servico.valor}}</td>
        </tr>
      </tbody>

    </table>
  </div>

</div>