<body>
    <div class="container">
        <h1>Serviços</h1><br>
        <button routerLink="/gservico" type="submit" type="button" class="btn btn-outline-secondary">Cadastrar serviços</button>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="../../assets/produto1.jpg" alt="Relaxamento">
                <div class="card-body">
                    <h5 class="card-title">Relaxamento</h5>
                    <p class="card-text">Relaxamento e drenagem corporal com pedras, óleos essenciais e incensos.</p>
                    <h6></h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto2.jpg" alt="Massagem">
                <div class="card-body">
                    <h5 class="card-title">Massagem </h5>
                    <p class="card-text">Massagem corporal,limpeza de pele e esfoliação facial, com o objetivo em melhorar o bem-estar, a saúde e prevenir alguns desequilíbrios corporais.</p>
                    <h6></h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto3.jpg" alt="Penteados">
                <div class="card-body">
                    <h5 class="card-title">Cortes/Penteados</h5>
                    <p class="card-text">Hidratação e nutrição para os mais variados tipos de cabelos, com a finalização do corte/penteado pretendido.</p>
                    <h6></h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto4.jpg" alt="Maquiagem">
                <div class="card-body">
                    <h5 class="card-title">Maquiagem</h5>
                    <p class="card-text">Maquiagem que acentua os mais os variados traços.</p>
                    <h6></h6>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="../../assets/produto5.jpg" alt="Mãos">
                <div class="card-body">
                    <h5 class="card-title">Mãos</h5>
                    <p class="card-text">Esfoliação,hidratação das mãos com aplicação de óleos essenciais, finalizando com o reparo das unhas.</p>
                    <h6></h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto6.jpg" alt="Pés">
                <div class="card-body">
                    <h5 class="card-title">Pés</h5>
                    <p class="card-text">Hidratração,Massagem e Esfoliação dos pés com aplicação de óleos essenciais, finalizando com o reparo das unhas.</p>
                    <h6></h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto7.jpg" alt="Barba/Bigode">
                <div class="card-body">
                    <h5 class="card-title">Barba/Bigode</h5>
                    <p class="card-text">Hidratação da barba e bigode com a finalização de um bom corte tradicional ou moderno.</p>
                    <h6></h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto8.jpg" alt="Corte Masculino">
                <div class="card-body">
                    <h5 class="card-title">Corte Masculino </h5>
                    <p class="card-text">Nutrição, Hidratação e Massagem capilar finalizado um corte apropriado para qualquer evento.</p>
                    <h6></h6>
                </div>
            </div>
        </div>
    </div>
</body>