<div>
    <body>
        <h1>Especialidades</h1>
    </body>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Spa</h3>    
                </div>
            <img class="card-img-top" src="../../assets/spa_servico.jpg" alt="Corte Feminino">
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Eventos</h3>    
                </div>
            <img class="card-img-top" src="../../assets/eventos_servico.jpg" alt="Eventos">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div id="s2" class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cuidados Femininos</h3>    
                </div>
            <img class="card-img-top" src="../../assets/cuidados_feminino_servicos.jpg" alt="Escova">
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cuidados Masculinos</h3>    
                </div>
            <img class="card-img-top" src="../../assets/cuidados_masculino_servicos.jpg" alt="Barba">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
    
    