
  <div id="cadastro">
    <br>
     <h1 id="titulo">Funcionários</h1>
    </div>

<div class="container">

    <!-- Large outline input -->
  <div class="md-form md-outline form-lg">
    <label for="form-lg">Nome</label>
    <input id="form-lg" class="form-control form-control-lg" type="text" name="nome"
    [(ngModel)]="funcionario.nome" #nome="ngModel" mdbInput>
  </div>

  <div class="md-form md-outline form-lg">
    <label for="form-lg">CPF</label>
    <input id="form-lg" class="form-control form-control-lg" type="text" name="cpf"
    [(ngModel)]="funcionario.cpf" #nome="ngModel" mdbInput>
  </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Especialidade</label>
        </div>
        <select class="custom-select" [(ngModel)]="funcionario.especialidade" id="cboEspecialidades" >
          <option selected>Selecione...</option>
          <option value="SPA">SPA</option>
          <option value="CORTE_FEMININO">CORTE FEMININO</option>
          <option value="EVENTOS">EVENTOS</option>
          <option value="CUIDADOS_FEMININOS">CUIDADOS FEMININOS</option>
          <option value="CUIDADOS_MASCULINOS">CUIDADOS MASCULINOS</option>
       </select>
    </div><br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Expediente</label>
        </div>
        <select class="custom-select" [(ngModel)]="funcionario.expediente" id="inputGroupSelect01">
          <option selected>Selecione...</option>
          <option value="MANHA">MANHA</option>
          <option value="TARDE">TARDE</option>
          <option value="NOITE">NOITE</option>
          <option value="MANHA_TARDE">INTEGRAL - MANHA/TARDE</option>
          <option value="TARDE_NOITE">INTEGRAL - TARDE/NOITE</option>
        </select>
    </div><br>

<form>
  <div class="form-row">
    <div class="col-7">
      <input mdbInput type="text" class="form-control" placeholder="Cidade" name="cidade"
      [(ngModel)]="funcionario.endereco.cidade" #nome="ngModel" mdbInput>
    </div>
    <div class="col">
      <input mdbInput type="text" class="form-control" placeholder="Estado" name="estado"
      [(ngModel)]="funcionario.endereco.estado" #nome="ngModel" mdbInput>
    </div>
    <div class="col">
      <input mdbInput type="text" class="form-control" placeholder="CEP" name="CEP"
      [(ngModel)]="funcionario.endereco.cep" #nome="ngModel" mdbInput>
    </div>
  </div>
</form>
<br>
<form>
  <div class="form-row">
    <div class="col-7">
      <input mdbInput type="text" class="form-control" placeholder="Bairro" name="bairro"
      [(ngModel)]="funcionario.endereco.bairro" #nome="ngModel" mdbInput>
    </div>
    <div class="col">
      <input mdbInput type="text" class="form-control" placeholder="Logradouro" name="logradouro"
      [(ngModel)]="funcionario.endereco.logradouro" #nome="ngModel" mdbInput>
    </div>
    <div class="col">
      <input mdbInput type="number" class="form-control" placeholder="Número" name="numero"
      [(ngModel)]="funcionario.endereco.numero" #nome="ngModel" mdbInput>
    </div>


  </div>
  <br><br>
  <button align-items= "center" (click)="salvar()" type="submit" class="btn btn-outline-secondary">Salvar Funcionário</button><br>
  <button routerLink="/gfuncionario" type="submit" class="btn btn-outline-secondary">Gerenciar Funcionários</button>

</form>
</div>

