<div id="cadastro">
  <br>
  <h1 id="titulo">Cadastro de Serviços</h1>
</div>

<div class="container">
 
  <div class="md-form md-outline form-lg">
    <input id="form-lg" class="form-control form-control-lg" type="text" mdbInput [(ngModel)]="request.descricao" required>
    <label for="form-lg">Descrição</label>
  </div>

  <div class="md-form md-outline form-lg">
    <input mdbInput type="number" width="50" class="form-control" placeholder="R$" [(ngModel)]="request.valor" required>
    <label for="form-lg">Valor</label>
  </div>

  <button align-items="center" (click)="salvar()" type="button" class="btn btn-outline-secondary">Salvar
    Serviço</button><br>
  <button routerLink="/ggservico" type="submit" class="btn btn-outline-secondary">Gerenciar Serviços</button>
  <div>
  
</div>