<div class="container" id="agendamento">
    <br><h1 id="titulo">Agendar</h1>
    
        <div class="form-row">

            <div class="col-md-4">            
                <div class="form-row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <label for="form-lg">Data</label>
                        <input id="form-lg" class="form-control form-control-lg" 
                        type="datetime-local" mdbInput [(ngModel)]="request.dataAgendada" required>
                    </div>
                </div>
            </div>
       
            <div class="col-md-4">
                <div class="form-row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                        <div class="md-form md-outline">
                            <label for="form-lg">Serviço id</label>
                            <input id="form-lg" class="form-control form-control-lg" 
                            type="number" mdbInput [(ngModel)]="request.servicoId" required>                   
                        </div>
                    </div>                    
                </div>
            </div>     
        </div>

        <div class="form-row">

            <div class="col-md-4">            
                <div class="form-row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">                      
                        <div class="md-form md-outline">
                            <input id="form-lg" class="form-control form-control-lg" 
                            type="number" mdbInput [(ngModel)]="request.clienteId" required>
                            <label for="form-lg">Cliente id</label>
                        </div>
                    </div>
                </div>
            </div>           
                  
            <div class="col-md-4">
                <div class="form-row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                        <div class="md-form md-outline form-lg">
                            <input id="form-lg" class="form-control form-control-lg" 
                            type="number" mdbInput [(ngModel)]="request.funcionarioId" required>
                            <label for="form-lg">Funcionário id</label>
                        </div>
                    </div>
                </div>
            </div>        
            
        </div>
        
        <br>
   
<div>
</div>
<br>
    <button (click)="salvar()" type="button" class="btn btn-outline-secondary">Agendar serviço</button><br>
    <button routerLink="/gagenda" type="submit" class="btn btn-outline-secondary">Gerenciar Agendas</button>
</div>




